@font-face{
    src: url(../fonts/Light.ttf);
    font-family: canela;
}
.clear{
    clear: both;
}
body{
    display: flex;
}
a{
    text-decoration: none;
    color: whitesmoke;
}


/* ADD THIS TO CSS */
div#preloaded-images {
    position: absolute;
    overflow: hidden;
    left: -9999px; 
    top: -9999px;
    height: 1px;
    width: 1px;
 }

.introvid{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #efefef;
    z-index: 2000;
}
#my-video{
    width: 100vw;
    height: 100vh;
    background-color: #272727;
    border: none;
}

.vjs-big-play-button {
    background-color: transparent !important;
    width: 200px !important;
    height: 100px !important;
    top: 0;
    /* left: calc(50% - 50px) !important; */
    right: 0;
    bottom: 0;
    background-image: url(../img/Beginbtn.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: 50% calc(50% - 10px);
    border: none !important; 
    box-shadow: none !important; 
    transition: 200ms !important;
    position: fixed !important;
  }
  .vjs-big-play-button:before {
    content: "";
    display: none;
  }
  .vjs-big-play-button:hover {
    background-color: transparent;
    opacity: 0.5;
  }
  .vjs-icon-placeholder{
      display: none;
  }
  .vjs-control-bar{
      display: none !important;
  }


  /* media queries */
  @media only screen and (max-width: 770px) {

    .navigatie, .wrapperlinks, .wrapperrechts, .introvid {
        display: none;
    }   

    .splash {
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    .splash .blacka {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #272727;
    }

    .splash .whita {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        background-color: #efefef;
    }

    .splash .text {
        font-size: 4em;
        color: #F77C4B;
        font-family: sofia pro;
        transform: translate(-50%,-50%);
        position: absolute;
        top: 53%;
        left: 50%;
    }

    .blacka .text {
        position: absolute;
        color: #efefef;
        font-size: 2em;
        line-height: 1.3em;
        font-family: canela;
        text-align: right;
        width: 100%;
        z-index: 10000;
        top: 43%;
    }

    .whita .text {
        color: #272727;
        font-size: 2em;
        line-height: 1.3em;
        font-family: canela;
        text-align: left;
        width: 100%;
        z-index: 10000;
        top: 43%;
    }

    .text p {
        color: #F77C4B;
        font-size: 14px;
        text-align: center;
        line-height: 1.3em;
    }



}


@media only screen and (min-width: 770px) {

.splash {
    display: none;
}
.introvid{
    position: fixed;
    width: 100vw;
    height: 200vh;
    background-color: #efefef;
    z-index: 2000;
}
#my-video{
    width: 100vw;
    height: 100vh;
    background-color: #272727;
    border: none;
}

.vjs-big-play-button {
    background-color: transparent !important;
    width: 200px !important;
    height: 100px !important;
    top: 0;
    /* left: calc(50% - 50px) !important; */
    right: 0;
    bottom: 0;
    background-image: url(../img/Beginbtn.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: 50% calc(50% - 10px);
    border: none !important; 
    box-shadow: none !important; 
    transition: 200ms !important;
    position: fixed !important;
   
  }
  .vjs-big-play-button:before {
    content: "";
    display: none;
  }
  .vjs-big-play-button:hover {
    background-color: transparent;
    opacity: 0.5;
  }
  .vjs-icon-placeholder{
      display: none;
  }
  .vjs-control-bar{
      display: none !important;
  }
}



/* Sticky Navigatie */
.navigatie{
    position: fixed;
    width: 520px;
    height: 600px;
    top: calc(50vh - 170px);
    right: calc(15vw - 260px);
    z-index: 1100;
    transition: all 1s;
}
.navigatie .fast{
    text-align: right;
    float: left;
    width: 47%;
    margin-right: 3%;
    height: 100%;
}
.navigatie .slow {
    text-align: left;
    float: right;
    width: 47%;
    margin-left: 3%;
    height: 100%;
}
.fast .bolletjescont{
    float: right;
}
.slow .bolletjescont{
    float: left;
}
.navigatie h2{
    font-family: sofia-pro;
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 40px;
}
.fast h2{
    color: whitesmoke;
}
.slow h2{
    color: #272727;
}
.bolletje {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid #F77C4B;
    margin-bottom: 40px;
}
.fast .bolletje{
    margin-left: calc(40px - 14px);
    -webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.7);
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.7);
}
.slow .bolletje{
    margin-right: calc(40px - 14px);
    -webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.7);
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.7);
}
.bolletje:hover{
    transform: scale(1.3);
    transition: 200ms;
    cursor: pointer;
}
.navigatie p {
    font-size: 1em;
    font-weight: 100;
    width: 200px;
    margin-left: 0;
    float: left;
    line-height: 14px;
    margin-bottom: 40px;
}
.navigatie p:hover{
    font-weight: 500;
}
.fast p{
    color: #efefef;
    text-align: right;
}
.slow p{
    color: #272727;
    text-align: left;
}
.fast .hoofdstukken{
    float: left;
    opacity: 0;
    transition: all 0.4s;
}
.slow .hoofdstukken{
    float: right;
    opacity: 0;
    transition: all 0.4s;
}
.navigatie:hover .hoofdstukken {
    opacity: 1;
    cursor: pointer;
}

.fill{
    background-color: #F77C4B;
}














/* LINKERKANT / THE BAD SIDE */
.wrapperlinks{
    width: 85vw;
    float: left;
    transition: all 1s;
}
.showandhide{
    transition: all 1.5s;
}
.quote{
    font-family: canela;
    font-size: 1.4em;
    font-style:  italic;
    font-weight: 500;
    width: 40vw;
    margin-top: 50px;
    margin-left: 35vw;
    text-align: center;
}

.wrapperlinks h1{
    font-size: 5em;
    color: whitesmoke;
    position: sticky;
    top: 100px;
    float: left;
    font-family: canela;
    letter-spacing: 0.03em;
    left: 5vw;
    padding-bottom: 100px;
    z-index: 1000;
    margin-top: 150px;
}
.titel2{
    float: left;
    margin-left: 5vw;
    top: 100px;
    text-align: left;
}
p {
    font-family: sofia-pro;
    font-weight: 200;
    font-size: 1.2em;
    width: 30vw;
    margin-left: 40vw;
    line-height: 1.6em;
    letter-spacing: 0.03em;
}
.wrapperlinks p{
    color: whitesmoke;
}
span{
    font-weight: 600;
}


/* afmetingen paragrafen */

.h1-1, .h1-2, .h1-3{
    height: calc(150vh - 450px);
    width: 85vw;
    padding-top: 450px;
}
.h1-3{
    height: 150vh;
}
.h2-1, .h2-2, .h2-3{
    height: calc(150vh - 450px);
    width: 85vw;
    padding-top: 450px;
}
.h2-3{
    height: 170vh;
}
.h3-1, .h3-2, .h3-3{
    height: calc(150vh - 450px);
    width: 85vw;
    padding-top: 450px;
}
.h3-2{
    position: relative;
    width: 85vw;
    overflow: hidden;
}

.h4-2{
    position: relative;
    width: 85vw;
    overflow: hidden;
}
.h3-3{
    height: 150vh;
}
.h4-1, .h4-2, .h4-3{
    height: calc(150vh - 450px);
    width: 85vw;
    padding-top: 450px;
}
.h5-1, .h5-2, .h5-3{
    height: calc(150vh - 450px);
    width: 85vw;
    padding-top: 450px;
}

.h6-1, .h6-2, .h6-3{
    height: calc(200vh - 450px);
    width: 85vw;
    padding-top: 150px;
}

.h6-1 {
    height: 200vh
}

h6-2{
    height: fit-content;
    margin-bottom: 200px;
}


.hoofdstuk1, .hoofdstuk2, .hoofdstuk3, .hoofdstuk4, .hoofdstuk5, .hoofdstuk6{
    margin-top: -100vh;
    padding-bottom: 2px;
}
.h2-2{
    position: relative;
    width: 85vw;
    overflow: hidden;
}
.h5-1, .h5-3{
    position: relative;
    width: 85vw;
    overflow: hidden;
}
.h6-1, .h6-3{
    position: relative;
    width: 85vw;
    overflow: hidden;
}
.h1-4{
    height: 150vh;
    width: 85vw;
    background-image: url(../img/grafiek@2x.png);
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
}

.h6p3 img{
    height: 10px;
    width: 10px;
}

.achtergrondjes{
    width: 85vw;
    height: 100vh;
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: -1;
    transition: all 1s;
}
#h1-bg{
    background-image: url(../img/bg1.jpg);
    background-position: center center;
}
#h2-bg{
    background-image: url(../img/bg4.jpg);
    background-position: center center;
}
#h3-bg{
    background-image: url(../img/bg7.jpg);
    background-position: center center;
}
#h4-bg{
    background-image: url(../img/bg10.jpg);
    background-position: center center;
}
#h5-bg{
    background-image: url(../img/bg13.jpg);
    background-position: center center;
}

.videowrapper-links{
    height: 150vh;
    width: 85vw;
    background-color: #272727;
}
iframe{
    margin-top: 40vh;
    width: 60vw;
    height: 70vh;
    margin-left: 12.5vw;
    z-index: 1200;
} 

.wrapperlinks img{
    position: absolute;
    left: -500px;
    width: 25vw; 
    transition: 250ms;
}

.wrapperlinks img:hover{
    transform: scale(1.15);    
    opacity: 0.8;
}

.wrapperlinks .fotoblob:hover{
    opacity: 0.7;
}
.wrapperlinks .fotoblob:hover .bd{
    background-size: 130%
}

.fotocont{
    position: absolute;
    width: 25vw;
    right: -100%;
}
.onderschrift{
    margin-left: 0;
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
    width: 360px;
}
.fotocont img{
    position: relative;
    left: 0;
    width: 25vw;
}
.num {
    line-height: calc(25vw - 30px);
    height: 25vw;
    font-size: 7.5em;
    font-family: sofia-pro;
    font-weight: 900;
    letter-spacing: 0;
    color: #F77C4B;
    position: absolute;
    left: -500px;
    width: 25vw; 
}




.slidein{
    animation: slidein;
    animation-fill-mode: forwards;
    animation-duration: 2000ms;
}
@keyframes slidein{
    from{left: -500px}
    to{left: 5vw}
}
.slideout{
    animation: slideout;
    animation-fill-mode: forwards;
    animation-duration: 2000ms;
}


@keyframes slideout{
    from{left: 5vw}
    to{left: -500px}
}






.slidein2{
    animation: slidein2;
    animation-fill-mode: forwards;
    animation-duration: 2000ms;
}
@keyframes slidein2{
    from{right: -100%}
    to{right: 5vw}
}
.slideout2{
    animation: slideout2;
    animation-fill-mode: forwards;
    animation-duration: 2000ms;
}


@keyframes slideout2{
    from{right: 5vw}
    to{right: -100%}
}





























/* RECHTERKANT / THE GOOD SIDE */
.wrapperrechts{
    opacity: 0;
    background-color: #efefef;
    width: 15vw;
    float: right;
    transition: all 1s;
    overflow: hidden;
}
.showandhide-rechts{
    opacity: 0;
    transition: all 1s;
}
.wrapperrechts h1{
    font-size: 5em;
    color: #272727;
    position: sticky;
    top: 100px;
    float: left;
    font-family: canela;
    letter-spacing: 0.03em;
    left: 5vw;
    padding-bottom: 100px;
    z-index: 1000;
    margin-top: 150px;
}
.wrapperrechts p{
    color: #272727;
    margin-left: 15vw;
    float: left;
    font-weight: 300
}
.achtergrondjes{
    width: 85vw;
    height: 100vh;
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: -1;
    transition: all 1s;
}
#h1-bg-rechts{
    background-image: url(../img/bg1-right.jpg);
    background-position: center center;
}
#h2-bg-rechts{
    background-image: url(../img/bg4-right.jpg);
    background-position: center center;
}
#h3-bg-rechts{
    background-image: url(../img/bg7-right.jpg);
    background-position: center center;
}
#h4-bg-rechts{
    background-image: url(../img/bg10-right.jpg);
    background-position: center center;
}
#h5-bg-rechts{
    background-image: url(../img/bg13-right.jpg);
    background-position: center center;
}
#h6-bg-rechts{
    background-image: url(../img/bg16-right.jpg);
    background-position: center center;
}
.videowrapper-rechts{
    height: 150vh;
    width: 85vw;
    background-color: #efefef;
}
.wrapperrechts .titel1, .wrapperrechts .titel2, .wrapperrechts .titel3, .wrapperrechts .titel4, .wrapperrechts .titel5, .wrapperrechts .titel6 {
    float: right;
    margin-right: 5vw;
    top: 100px;
    text-align: right;
}
.wrapperrechts .h1-3{
    background-image: none;
}
.wrapperrechts img{
    position: absolute;
    right: -100%;
    width: 25vw; 
    transition: 250ms;
}

.wrapperrechts img:hover{
    transform: scale(1.15);    
    opacity: 0.8;
}

.wrapperrechts .rfotoblob:hover{
    opacity: 0.7;
}
.wrapperrechts .rfotoblob:hover .bd{
    background-size: 130%
}

.overflow{
    overflow: hidden;
    position: relative;
    width: 85vw;
}
.wrapperrechts .h1-1{
    padding-top: 100px;
}




.lblob1{
    background-image: url(../img/uitstoot@2x.png);

}
.lblob4{
    background-image: url(../img/rollen@2x.png);
}
.lblob5{
    background-image: url(../img/vrouw.png);
}
.lblob6{
    background-image: url(../img/pesticiden@2x.png);
}
.lblob8{
    background-image: url(../img/jongentje.png);
}
.lblob9{
    background-image: url(../img/ranaplaza.png);
}
.lblob10{
    background-image: url(../img/tas@2x.png);
}
.lblob11{
    background-image: url(../img/schaap.png);
}
.lblob12{
    background-image: url(../img/gans.png);
}
.lblob13{
    background-image: url(../img/meadje.png);
}
.lblob14{
    background-image: url(../img/greenwash.png);
}
.lblob15{
    background-image: url(../img/conscious@2x.png);
}
.lblob16{
    background-image: url(../img/meisieinkleren.png);
}
.lblob17{
    background-image: url(../img/meisie.png);
}
.fotoblobcecile{
    left: 0;
}


.rblob3{
    background-image: url(../img/recycle@2x.png);
}
.rblob4{
    background-image: url(../img/liefkatoen@2x.png);
}
.rblob5{
    background-image: url(../img/monomaterial@2x.png);
}
.rblob6{
    background-image: url(../img/fairtrade@2x.png);
}
.rblob7{
    background-image: url(../img/lach@2x.png);
}
.rblob8{
    background-image: url(../img/handschoen@2x.png);
}
.rblob9{
    background-image: url(../img/kindje@2x.png);
}
.rblob10{
    background-image: url(../img/veganleer@2x.png);
}
.rblob11{
    background-image: url(../img/fjallraven@2x.png);
}
.rblob12{
    background-image: url(../img/nsfdown@2x.png);
}
.rblob14{
    background-image: url(../img/plastic@2x.png);
}
.rblob15{
    background-image: url(../img/fashionrev@2x.png);
}
.rblob16{
    background-image: url(../img/wornwear.png);
}
.rblob18{
    background-image: url(../img/buyless.jpg);
}
 

  .fotoblob{
    left: -500px;
    width: 25vw; 
    transition: 250ms;
    position: absolute;
  }
  .rfotoblob{
    position: absolute;
    right: -100%;
    width: 25vw; 
    transition: 250ms;
  }
  .spin-container {
    width: 25vw;
    height: 25vw;
    animation: spin 25s linear infinite;
    position: relative;
    overflow: hidden;
    margin-top: 1vw;
    margin-left: 1vw;
  }
  .spin-containerbg {
    width: 27vw;
    height: 27vw;
    animation: spin 25s linear infinite ;
    position: absolute;
    overflow: hidden;
  }
  
  .shape {
    width: 25vw;
    height: 25vw;
    transition: border-radius 1s ease-out;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph 5s ease-in-out infinite both alternate;
    position: absolute;
    overflow: hidden;
    z-index: 1200;
    
  }
  .shapebg {
    width: 27vw;
    height: 27vw;
    background-color: white;
    opacity: 0.15;
    transition: border-radius 1s ease-out;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph 5s ease-in-out infinite both alternate ;
    position: absolute;
    overflow: hidden;
    z-index: 1100;
  }
  
  .bd {
    width: 112%;
    height: 112%;
    position: absolute;
    left: -6%;
    top: -6%;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    color: #003;
    font-size: 5vw;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    animation: spin 25s linear infinite reverse;
    opacity: 1;
    z-index: 1200;
    overflow: hidden;
    transition: 200ms;
  }
  
  @keyframes morph {
    0% {border-radius: 53% 53% 53% 44% / 54% 42% 64% 52% } 
    50% {border-radius: 47% 47% 51% 43% / 36% 52% 42% 58% }
    100% {border-radius: 42% 58% 54% 46% / 50% 41% 59% 50% } 
  }
  
  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }






  .logos {
    width: 60vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    /* z-index: 3000; */
}

.pictures {
    position: absolute;
    top: 0;
    left: 0;
    width: 60vw;
    height: 100vh;
    margin: 0 auto;
    /* z-index: 3000; */
}

.logobgs {
    position: absolute;
      top: 0;
      left: 0;
      width: 60vw;
    height: 100vh;
    margin: 0 auto;
  }


  .pictures .logo {
    width: 14vw;
    height: 14vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    transition: border-radius 1s ease-out;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph 5s ease-in-out infinite both alternate;
    z-index: 1200;
    transition: 1s all;
  }

  .logobgs .logobg {
    width: 16vw;
    height: 16vw;
    float: left;
    background-color: white;
    opacity: 0.15;
    transition: border-radius 1s ease-out;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph 5s ease-in-out infinite both alternate ;
    z-index: 1100;
  }

  .pictures div {
      transition: all 1s;
  }


  .pictures div:hover {
    opacity: 0.8;
    cursor: pointer;
    background-size: 120%;
    transition: background-size 2s ease-in;
    -moz-transition: background-size 2s ease-in;
    -ms-transition: background-size 2s ease-in;
    -o-transition: background-size 2s ease-in;
    -webkit-transition: background-size 2s ease-in;

  }

  .logos{
      margin-top: 10vw;
  }
.logos .spin-container,.logos .shape{
    width: 13vw;
    height: 13vw;

}
.logos .spin-containerbg, .logos .shapebg{
    width: 15vw;
    height: 15vw;
}
.logoblob{
    position: absolute;
  }



.lblobzara {
      background-image: url(../img/logos-fastfashion/zara.jpg)
}

.lblobbershka {
    background-image: url(../img/logos-fastfashion/bershka.jpg);
}
.lbbershka{
    left: 22.5vw;
}


.lblobprimark {
    background-image: url(../img/logos-fastfashion/primark.jpg);
}
.lbprimark{
    left: 45vw;
}


.lblobdeca {
    background-image: url(../img/logos-fastfashion/deca.jpg);
}
.lbdeca{
    top: 22.5vw;
}


.lblobhm {
    background-image: url(../img/logos-fastfashion/hm.jpg);
}
.lbhm{
    top: 22.5vw;
    left: 22.5vw;
}

.lblobshein {
    background-image: url(../img/logos-fastfashion/shein.jpg);
}
.lbshein{
    top: 22.5vw;
    left: 45vw;
}

.lblobck {
    background-image: url(../img/logos-fastfashion/ck.jpg);
}
.lbck{
    top: 45vw;
}

.lblobtommy {
    background-image: url(../img/logos-fastfashion/tommy.jpg);
}
.lbtommy{
    top: 45vw;
    left: 22.5vw;
}

.lbloblouis {
    background-image: url(../img/logos-fastfashion/louis.jpg);
}
.lblouis{
    top: 45vw;
    left: 45vw;
}

.logoblob:hover{
    opacity: 0.7;
}
.logoblob:hover .bd{
    background-size: 130%
}

.logos .spin-container,.logos .shape{
    width: 13vw;
    height: 13vw;

}
.logos .spin-containerbg, .logos .shapebg{
    width: 15vw;
    height: 15vw;
}
.logoblob{
    position: absolute;
  }



.lblobwomsh {
      background-image: url(../img/logos-slowfashion/womsh.png)
}

.lblobveja {
    background-image: url(../img/logos-slowfashion/veja.png);
}
.lbveja{
    left: 22.5vw;
}


.lblobnudie {
    background-image: url(../img/logos-slowfashion/nudie.png);
}
.lbnudie{
    left: 45vw;
}


.lblobasket {
    background-image: url(../img/logos-slowfashion/asket.png);
}
.lbasket{
    top: 22.5vw;
}


.lbloborganic{
    background-image: url(../img/logos-slowfashion/organic.png);
}
.lborganic{
    top: 22.5vw;
    left: 22.5vw;
}

.lblobstella {
    background-image: url(../img/logos-slowfashion/stella.png);
}
.lbstella{
    top: 22.5vw;
    left: 45vw;
}

.lblobpatagonia {
    background-image: url(../img/logos-slowfashion/patagonia.png);
}
.lbpatagonia{
    top: 45vw;
}

.lblobmud {
    background-image: url(../img/logos-slowfashion/mud.png);
}
.lbmud{
    top: 45vw;
    left: 22.5vw;
}

.lblobkuyichi {
    background-image: url(../img/logos-slowfashion/kuyichi.png);
}
.lbkuyichi{
    top: 45vw;
    left: 45vw;
}

.h6-1 a, .h6-3 a{
    left: 5vw;
}

#eigenwijs{
    left: 55vw;
}
